<a href="#" class="product-item">
  <%= image_tag("product.png") %>
  <div class="inner-detail-product">
    <div class="horizontal-row">
      <div class="circle-green"></div>
      <p>Taycan Turbo S</p>
    </div>
    <div class="horizontal-row">
      <%= image_tag("tag.png") %>
      <p>Porsche</p>
    </div>
    <div class="price">
      <p>$ 420.000</p>
    </div>
  </div>
  <div class="horizontal-row top-border">
    <%= image_tag("sticker.png") %>
    <p>Porsche Official</p>
  </div>
</a>