<% content_for :title, "Auction" %>

<%= render partial: 'layouts/search' %>

<div class="section-products row bg-white px-3 mt-2 py-4 position-relative">
  <% @auctions.each do |auction| %>
    <% next if auction.product.thumbnail.blank? %>
    <div class="col-12 px-4 py-3">
      <a href="item/<%= auction.product.id %>" style="text-decoration: none; color: unset">
        <%= render partial: 'shopping/auction', locals: {product: auction.product, auction: auction} %>
      </a>
    </div>
  <% end %>
</div>

