<% content_for :title, "Auction" %>
<div class="mt-4">
  <%= render partial: 'layouts/search' %>

</div>

<div class="section-products row bg px-3 mt-3 position-relative">
  <% @auctions.each do |auction| %>
    <% next if auction.product.thumbnail.blank? %>
    <div class="col-12 px-4 py-3">
      <a href="item/<%= auction.product.id %>" style="text-decoration: none; color: unset">
        <%= render partial: 'shopping/auction', locals: {product: auction.product, auction: auction} %>
      </a>
    </div>
  <% end %>
</div>

<style>
.section-products{
  box-shadow: none;
}
.product-item > div{
  background: #FFFFFF;
}
</style>

<script>


  $(function (){
    var fiveMinutes = 60 * 5,
      display = $('.time');
    if (display.length){
      display.each(function (aa){
        startTimer(fiveMinutes, $(this));
      })
    }
  })

</script>