<div class="main">
  <div class="content">
    <div class="item">
      <a href="#">
        <div class="inside-item">
          <div class="icon">
            <%= image_tag("shopping-cart.svg", width: 100) %>
            <p class="sub-title">Shopping</p>
          </div>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="#">
        <div class="inside-item">
          <div class="icon">
            <%= image_tag("auction.svg", width: 100) %>
            <p class="sub-title">Auction</p>
          </div>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="#">
        <div class="inside-item">
          <div class="icon">
            <%= image_tag("store.svg", width: 100) %>
            <p class="sub-title">My Store</p>
          </div>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="#">
        <div class="inside-item">
          <div class="icon">
            <%= image_tag("growth.png", width: 100) %>
            <p class="sub-title">Growth</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>