<div class="main pt-4">
  <div class="content row">
    <div class="item col-6 p-4">
      <a href="/shopping">
        <div class="inside-item px-4 py-5">
          <div class="icon d-flex justify-content-center align-items-center flex-column">
            <%= image_tag("shopping-cart.svg", width: 60) %>
            <p class="sub-title mb-0">Shopping</p>
          </div>
        </div>
      </a>
    </div>
    <div class="item col-6 p-4">
      <a href="#">
        <div class="inside-item px-4 py-5">
          <div class="icon d-flex justify-content-center align-items-center flex-column ">
            <%= image_tag("auction.svg", width: 60) %>
            <p class="sub-title mb-0 pb-0">Auction</p>
          </div>
        </div>
      </a>
    </div>
    <div class="item col-6 p-4">
      <a href="#">
        <div class="inside-item px-4 py-5">
          <div class="icon d-flex justify-content-center align-items-center flex-column ">
            <%= image_tag("store.svg", width: 60) %>
            <p class="sub-title mb-0">My Store</p>
          </div>
        </div>
      </a>
    </div>
    <div class="item col-6 p-4">
      <a href="#">
        <div class="inside-item px-4 py-5">
          <div class="icon d-flex justify-content-center align-items-center flex-column">
            <%= image_tag("growth.png", width: 60) %>
            <p class="sub-title mb-0">Growth</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>