@import "bootstrap";

* {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  p, span {
    display: inline-block;
  }
}
.padding-left-10 {
  padding-left: 10px !important;
}
.padding-right-10 {
  padding-right: 10px !important;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
::placeholder {
  color: #D5D6DB;
  font-size: 14px;
}
section {
  background-color: #F5F5F5;
}
.bg {
  background-color: #F5F5F5 !important;
}
.item {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 50px;
  background-color: #ED1C24;
  .header-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    p {
      color: #FFFFFF;
      font-size: 25px;
      text-align: center;
      font-weight: bold;
      margin: auto;
    }
  }
}
.content {

  .item {
    & > a {
      display: block;
      text-underline: none;
      text-decoration: none;

      &:hover, &:focus {
        text-underline: none;
        text-decoration: none;
      }
      .inside-item {
        height: 96%;
        background: #FFF;
        border-radius: 7px;

        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
        text-align: center;

        p {
          text-align: center;
          color: #000;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.top-border {
  border-top: 0.5px solid #C4C4C4;
}
.horizontal-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.circle-green {
  width: 12px;
  height: 12px;
  background: #00BE65;
  border-radius: 50%;
}

//////
.product-item {
  border-radius: 15px;
  overflow: hidden;
  border: 0.5px solid #D5D6DB !important;
  & > div {
    border-radius: 5px; 
    background: #F5F5F5;
    overflow: hidden;
  }
  a {
    color: #474747;
    &:focus, &:hover {
      color: #474747;
    }
  }
  .link {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & > span:nth-child(2) {
      margin-left: 5px;
    }
    &::hover, &::focus {
      text-decoration: none;
    }
    span {
      color: #474747;
    }
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rating-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;

    .stars {
      display: flex;
      justify-content: center;
      align-items: center;
      .star {
        cursor: pointer;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
          width: 100%;
        }
      }
    }
    .price {
      flex: 1;
      text-align: right;
      margin-bottom: 0;
    }
  }
  .overflow-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .discount {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    .discount-price {
      text-decoration: line-through;
      color: #A7A7A7;
    }
    .discount-task {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      background: url('/assets/discount_mark.png') no-repeat center;
      span {
        padding: 5px;
        color: #fff;
        z-index: 2;
      }
    }
  }

  span, .price {
    font-size: 13px;
  }
}
.products, .tab-content {
  .product-image {
    height: 146px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
}

.auction-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & > span {
    color: #fff;
    background: #1c75A1;
    padding: 5px;
  }
  .auction-time {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6C358;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    .icon {
      width: 15px;
      height: 15px;
      margin-right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    span {
      color: #fff;
    }
  }
}


span {
  &.logo {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      margin: auto;
    }
  }
}

// store
.store-top-layout {
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  .info-store {
    display: flex;
    justify-content: center;
    align-items: center;

    .title-store {
      flex: 1;
      
      .name-store {
        font-weight: bold;
      }
      .quality-store {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .quality-icon {
          width: 25px;
          img {
            width: 100%;
          }
        }
        span {
          color: #27A2DB;
          font-size: 15px;
        }
      }
    }
    .action-store {
      display: flex;
      justify-content: center;
      align-items: center;
      .follow-store {
        width: 120px;
        border-radius: 20px;
        font-size: 14px;
        text-align: center;
        color: #fff;
        font-weight: 400;
        background: #00BE65;
        padding: 10px;
      }
    }
  }

  .reviews-store {
    display: flex;
    justify-content: center;
    align-items: center;
    & > div {
      flex: 1;
      .number {
        font-size: 25px;
        text-align: center;
        color: #00BE65;
        font-weight: 400;
      }
      .info {
        font-size: 17px;
        text-align: center;
        color: #474747;
      }
    }
  }

  .tabs-store {
    display: flex;
    justify-content: space-around;
    align-items: center;
    & > div {
      color: #A7A7A7;
      font-size: 17px;
      cursor: pointer;

      &.active {
        color: #00BE65;
        font-weight: 400;
        position: relative;
        &::after {
          position: absolute;
          content: '';
          width: 40px;
          height: 5px;
          background: #00BE65;
          border-radius: 2px;
          top: 145%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.content-store {
  position: relative;
  background: #F5F5F5;
  margin-top: 40px;
  min-height: 100px;
  border-top: 1px solid rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  & > div {
    display: none;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    
    &.active {
      display: block;
    }

    .main-description {
      margin-top: 40px;
      color: #474747;
      font-size: 14px;
    }
    .address-store {
      .title {
        font-size: 25px;
        font-weight: 400;
        color: #E56353;
      }
      .address {
        display: flex;
        justify-content: flex-start;
        span {
          margin-left: 10px;
          font-size: 17px;
          color: #474747;
        }
      }
    }
    
    .map-store {
      height: 250px;
      overflow: hidden;
      img {
        height: 100%;
      }
    }

    .summary-reviews {
      display: flex;
      justify-content: center;
      align-items: center;
      & > p {
        flex: 1;
        text-align: center;
        font-size: 30px;
        color: #27A2DB;
        font-weight: bold;
      }
      & > span {
        min-height: 100px;
        width: 0.5px;
        background: #D5D6DB;
      }
      & > div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.row-stars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 7px;
  .star {
    margin-left: 7px;
    width: 20px;
    img {
      width: 100%;
    }
  }
  & > .person {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      margin-top: 5px;
      margin-left: 10px;
      color: #A7A7A7;
      font-size: 13px;
      text-align: center;
    }
  }
}

.top-absolute-action {
  position: absolute;
  background: #00BE65;
  border-radius: 20px;
  top: -20px;
  left: 20px;
  text-align: center;
  padding: 10px 20px;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 400;
}

.list-comments {
  padding: 10px;
  margin-top: 20px;
  .comment {
    border-top: 0.5px solid #D5D6DB;
    padding-top: 20px;
    padding-bottom: 10px;

    .content-message {
      margin-top: 10px;
      color: #474747;
      padding-left: 5px;
    }
    .reviewer {
      display: flex;
      justify-content: center;
      align-items: center;
      .reviewer-info {
        padding-left: 10px;
        flex: 1;
        p {
          font-size: 18px;
          color: #474747;
          padding-left: 5px;
        }
      }
      .avatar {
        width: 60px;
        img {
          width: 100%;
        }
      }
    }
  }
}

// custom carousel
.banner {
  .carousel-indicators button {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: url('/assets/circle.png') no-repeat center;
    &.active {
      background: url('/assets/circle_active.png') no-repeat center;
    }
  }
  .carousel-control-prev-icon {
    background: url('/assets/previous-32.png') no-repeat center;
    width: 25px;
    height: 25px;
  }
  .carousel-control-next-icon {
    background: url('/assets/next-32.png') no-repeat center;
    width: 25px;
    height: 25px;
  }
}
.carousel-control-prev, .carousel-control-next {
  opacity: 1;
}
.carousel-padding {
  padding-left: 30px;
  padding-right: 30px;
}
#carouselExampleSlidesOnly {
  .product-image {
    height: 220px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .carousel-control-prev-icon {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    background: url('/assets/carousel-previous.png') no-repeat center;
    opacity: 1;
  }
  .carousel-control-next-icon {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    background: url('/assets/carousel-next.png') no-repeat center;
    opacity: 1;
  }
}

.price-range {
  min-height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  p {
    margin: 0 !important;
  }
}
.bg-green {
  background-color: #00BE65 !important;
}
.bg-gray {
  background-color: #D5D6DB!important;
  border-radius: 3px;
}


// countdown
.countdown {
  align-items: center !important;
  .part {
    padding: 0 !important;
    padding-right: 12px !important;
    padding-left: 5px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    & > .digit {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      span {
        vertical-align: middle !important;
        &.digit-value {
          top: 50% !important;
          transform: translateY(-50%) !important;
          font-family: Proxima Nova !important;
          font-style: normal !important;
          font-weight: normal !important;
        }
      }
    }
    &::after {
      position: absolute;
      font-size: 12px !important;
      color: inherit;
      background-color: inherit;
      z-index: 1;
      bottom: 0 !important;
      left: 10px !important;
      font-family: Proxima Nova !important;
      font-style: normal !important;
      font-weight: normal !important;
    }
    &:nth-child(1) {
      &::after {
        content: 'd' !important;
      }
    }
    &:nth-child(2) {
      &::after {
        content: 'h' !important;
      }
    }
    &:nth-child(3) {
      &::after {
        content: 'm' !important;
      }
    }
    &:nth-child(4) {
      &::after {
        content: 's' !important;
      }
    }
    &:not(:first-child) {
      &::before {
        top: 50% !important;
        transform: translateY(-50%) !important;
      }
    }
  }
}

.radius-15 {
  border-radius: 15px !important;
}

