@import "bootstrap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  background-color: #F5F5F5;
}
.item {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 50px;
  background-color: #ED1C24;
  .header-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    p {
      color: #FFFFFF;
      font-size: 25px;
      text-align: center;
      font-weight: bold;
      margin: auto;
    }
  }
}
.content {

  .item {
    & > a {
      display: block;
      text-underline: none;
      text-decoration: none;

      &:hover, &:focus {
        text-underline: none;
        text-decoration: none;
      }
      .inside-item {
        height: 100%;
        background: #FFF;
        border-radius: 7px;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;

        p {
          text-align: center;
          color: #000;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.top-border {
  border-top: 0.5px solid #C4C4C4;
}
.horizontal-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.circle-green {
  width: 12px;
  height: 12px;
  background: #00BE65;
  border-radius: 50%;
}

//////
.product-item {
  & > div {
    border-radius: 15px; 
    background: #F5F5F5;
  }

  .link {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & > span:nth-child(2) {
      margin-left: 5px;
    }
    &::hover, &::focus {
      text-decoration: none;
    }
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rating-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .stars {
      display: flex;
      justify-content: center;
      align-items: center;
      .star {
        cursor: pointer;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
          width: 100%;
        }
      }
    }
    .price {
      flex: 1;
      text-align: right;
      margin-bottom: 0;
    }
  }
  .discount {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .discount-price {
      text-decoration: line-through;
      color: #A7A7A7;
    }
    .discount-task {
      background-color: #E56353;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 5px;
      border-radius: 5px;
      span {
        color: #fff;
        z-index: 2;
      }

      &::before {
        position: absolute;
        content: '';
        width: 32px;
        height: 32px;
        transform: rotate(45deg);
        top: 4px;
        left: -30%;
        background: #E56353;
        z-index: 1;
        border-radius: 5px;
      }
    }
  }

  span, .price {
    font-size: 13px;
  }
}

.auction-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & > span {
    color: #fff;
    background: #1c75A1;
    padding: 5px;
  }
  .auction-time {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6C358;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    .icon {
      width: 15px;
      height: 15px;
      margin-right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    span {
      color: #fff;
    }
  }
}