// Place all the styles related to the shopping controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#carouselExampleIndicators {
    width: 100%;
    .carousel-item {
      img {
        width: 100%;
      }
    }
}

.has-search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    span {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .filter-search {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input {
        flex: 1;
        background: #fff;
        border: none;
    }
    input.form-control {
        padding: 10px 40px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}

.filter-search {
    cursor: pointer;
    & > .icon {
        & > img {
            &:first-child {
                display: block;
            }
            &:last-child {
                display: none;
            }
        }
    }
    &.active {
        & > .icon {
            & > img {
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: block;
                }
            }
        }
    }
}

.margin-top-40 {
    margin-top: 40px;
}
.margin-top-30 {
    margin-top: 30px;
}
.blue-bg {
    background: url('/assets/new_mark.png') no-repeat center;
}
.red-bg {
    background: url('/assets/sale_mark.png') no-repeat center;
}
.section-products {
    background-color: #fff;
    min-height: 50px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .mark-top {
        min-height: 50px;
        position: relative;

        .mark-icon {
            height: 50px;
            width: 50px;
            position: absolute;
            left: 10px;
            top: -10px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                color: #fff;
                z-index: 2;
                font-weight: bold;
            }
        }
    }

    .more {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        span {
            color: #00BE65;
            padding: 5px;
            background: none;
        }
    }
}


.filter-dialog {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 100px 20px;
    display: none;

    &.open {
        display: block;
    }
    .content-filter-dialog {
        background: #fff;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        position: relative;
        .filter-icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #00BE65;
            position: absolute;
            top: -25px;
            z-index: 2;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;

            .inner-filter-icon {
                img {
                    width: 100%;
                }
            }
        }

        .content-filter {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 30px;
            height: 100%;

            & > div {
                width: 100%;
            }
            .list-filters {
                flex: 1;
                min-height: 100px;
                overflow-y: scroll;
                padding: 10px;

                .type-filter {
                    &:not(:first-child) {
                        margin-top: 5px;
                    }
                    .head-filter {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px 5px;
                        border-radius: 10px;
                        border: 1px solid #A7A7A7;
                        p {
                            margin-bottom: 0;
                            flex: 1;
                            color: #A7A7A7;
                        }
                        .icon {
                            width: 15px;
                            height: 15px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                                height: 100%;
                                &:first-child {
                                    display: block;
                                }
                                &:last-child {
                                    display: none;
                                }
                            }
                        }
                        &.active {
                            border: 1px solid #00BE65;
                            p {
                                color: #00BE65;
                            }
                            .icon {
                                img {
                                    height: 100%;
                                    &:first-child {
                                        display: none;
                                    }
                                    &:last-child {
                                        display: block;
                                    }
                                } 
                            }
                        }
                    }
                    .list-sub-filters {
                        display: none;
                        border-radius: 10px;
                        border: 1px solid #A7A7A7;
                        padding: 10px 5px;
                        p {
                            color: #474747;
                            width: 100%;
                        }
                    }

                    &.open {
                        .list-sub-filters {
                            display: block;
                        }
                        .icon {
                            transform: rotate(-270deg);
                        }
                    }
                }
            }

            .star-rating {
                padding: 10px;
                p {
                    margin-bottom: 0;
                    color: #474747;
                }
                .stars {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .star-item {
                        margin-left: 5px;
                        img {
                            &:first-child {
                                display: block;
                            }
                            &:last-child {
                                display: none;
                            }
                        }
                        &.active {
                            img {
                                &:first-child {
                                    display: none;
                                }
                                &:last-child {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            .actions-dialog {
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 1px solid #A7A7A7;

                & > div  {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;

                    &:first-child {
                        border-right: 1px solid #A7A7A7;
                        span {
                            color: #474747;
                        }
                    }
                    &:last-child {
                        span {
                            color: #00BE65;
                        }
                    }
                }
            }
        }
    }
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}