#carouselExampleIndicators {
  width: 100%;
}

#carouselExampleIndicators .carousel-item img {
  width: 100%;
}

.has-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.has-search span {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.has-search .filter-search {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.has-search input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #fff;
  border: none;
}

.has-search .filter-search {
  cursor: pointer;
}

.has-search input.form-control {
  padding: 10px 40px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.margin-top-40 {
  margin-top: 40px;
}

.blue-bg {
  background-color: #45B39C;
}

.blue-bg::before {
  content: '';
  width: 38px;
  height: 38px;
  background: #45B39C;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 5px;
  top: 50%;
  z-index: 1;
}

.red-bg {
  background-color: #E56353;
}

.red-bg::before {
  content: '';
  width: 38px;
  height: 38px;
  background: #E56353;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 5px;
  top: 50%;
  z-index: 1;
}

.section-products {
  background-color: #fff;
  min-height: 50px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.section-products .mark-top {
  min-height: 50px;
  position: relative;
}

.section-products .mark-top .mark-icon {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 10px;
  top: -10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-products .mark-top .mark-icon span {
  color: #fff;
  z-index: 2;
  font-weight: bold;
}

.section-products .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.section-products .more span {
  color: #00BE65;
  padding: 5px;
  background: none;
}

.filter-dialog {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 60px 20px 20px;
}

.filter-dialog .content-filter-dialog {
  background: #fff;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
}

.filter-dialog .content-filter-dialog .filter-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00BE65;
  position: absolute;
  top: -25px;
  z-index: 2;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.filter-dialog .content-filter-dialog .filter-icon .inner-filter-icon img {
  width: 100%;
}
/*# sourceMappingURL=shopping.css.map */