<div class="px-3 mt-3 bg">
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M11.742 10.344C12.7103 9.02269 13.144 7.38449 12.9563 5.75715C12.7686 4.12981 11.9734 2.63334 10.7298 1.56713C9.48613 0.500922 7.88576 -0.0563951 6.24885 0.00667803C4.61194 0.0697512 3.0592 0.748563 1.90128 1.90731C0.743364 3.06605 0.0656633 4.61928 0.00376152 6.25624C-0.0581403 7.89319 0.500322 9.49316 1.56742 10.736C2.63452 11.9789 4.13156 12.7731 5.75903 12.9596C7.38651 13.1461 9.02439 12.7112 10.345 11.742H10.344C10.374 11.782 10.406 11.82 10.442 11.857L14.292 15.707C14.4795 15.8946 14.7339 16.0001 14.9992 16.0002C15.2644 16.0003 15.5189 15.895 15.7065 15.7075C15.8942 15.52 15.9996 15.2656 15.9997 15.0004C15.9998 14.7351 15.8945 14.4806 15.707 14.293L11.857 10.443C11.8213 10.4068 11.7828 10.3734 11.742 10.343V10.344ZM12 6.5C12 7.22227 11.8578 7.93747 11.5814 8.60476C11.3049 9.27205 10.8998 9.87837 10.3891 10.3891C9.87838 10.8998 9.27206 11.3049 8.60477 11.5813C7.93748 11.8577 7.22228 12 6.50001 12C5.77774 12 5.06254 11.8577 4.39525 11.5813C3.72796 11.3049 3.12165 10.8998 2.61093 10.3891C2.1002 9.87837 1.69508 9.27205 1.41868 8.60476C1.14227 7.93747 1.00001 7.22227 1.00001 6.5C1.00001 5.04131 1.57948 3.64236 2.61093 2.61091C3.64238 1.57946 5.04132 1 6.50001 1C7.9587 1 9.35765 1.57946 10.3891 2.61091C11.4206 3.64236 12 5.04131 12 6.5Z"
          fill="#A7A7A7" />
      </svg>
    </span>
    <input type="text" class="form-control" placeholder="Search" style="border-radius: 16px">
    <div class="filter-search">
      <div class="icon">
        <img src="/assets/filter_search" alt="" srcset="">
        <img src="/assets/filter_search_active" alt="" srcset="">
      </div>
    </div>
  </div>
</div>


<div class='filter-dialog'>
  <div class='content-filter-dialog'>
    <div class='filter-icon'>
      <div class='inner-filter-icon'>
        <img src="/assets/setting_search" alt="">
      </div>
    </div>

    <div class="content-filter">
      <div class="list-filters">

        <div class="type-filter" data-type='sort_by'>
          <div class="head-filter">
            <p>Sort by</p>
            <div class="icon">
              <img src="/assets/next" alt="" srcset="">
              <img src="/assets/next_active" alt="" srcset="">
            </div>
          </div>
          <div class="list-sub-filters mt-1">
            <p data-value='none' data-default='Sort by'>None</p>
            <p data-value='price-ascending'>Price ascending</p>
            <p data-value='price-descending'>Price descending</p>
            <p data-value='product-name-ascending'>Product name ascending</p>
            <p data-value='product-name-descending'>Product name descending</p>
            <p data-value='store-name-ascending'>Store name ascending</p>
            <p data-value='store-name-descending'>Store name descending</p>
            <p data-value='upload-date-ascending'>Upload date ascending</p>
            <p data-value='upload-date-descending'>Upload date descending</p>
          </div>
        </div>

        <div class="type-filter" data-type='category'>
          <div class="head-filter">
            <p>Category</p>
            <div class="icon">
              <img src="/assets/next" alt="" srcset="">
              <img src="/assets/next_active" alt="" srcset="">
            </div>
          </div>
          <div class="list-sub-filters mt-1">
            <p data-value='none' data-default='Category'>None</p>
            <p>Price ascending</p>
            <p>Price descending</p>
            <p>Product name ascending</p>
            <p>Product name descending</p>
            <p>Store name ascending</p>
            <p>Store name descending</p>
            <p>Upload date ascending</p>
            <p>Upload date descending</p>
          </div>
        </div>

        <div class="type-filter" data-type='brand'>
          <div class="head-filter">
            <p>Brand</p>
            <div class="icon">
              <img src="/assets/next" alt="" srcset="">
              <img src="/assets/next_active" alt="" srcset="">
            </div>
          </div>
          <div class="list-sub-filters mt-1">
            <p data-value='none' data-default='Brand'>None</p>
            <p>Price ascending</p>
            <p>Price descending</p>
            <p>Product name ascending</p>
            <p>Product name descending</p>
            <p>Store name ascending</p>
            <p>Store name descending</p>
            <p>Upload date ascending</p>
            <p>Upload date descending</p>
          </div>
        </div>

        <div class="type-filter" data-type='color'>
          <div class="head-filter">
            <p>Color</p>
            <div class="icon">
              <img src="/assets/next" alt="" srcset="">
              <img src="/assets/next_active" alt="" srcset="">
            </div>
          </div>
          <div class="list-sub-filters mt-1">
            <p data-value='none' data-default='Color'>None</p>
            <p>Price ascending</p>
            <p>Price descending</p>
            <p>Product name ascending</p>
            <p>Product name descending</p>
            <p>Store name ascending</p>
            <p>Store name descending</p>
            <p>Upload date ascending</p>
            <p>Upload date descending</p>
          </div>
        </div>
        <div class="type-filter" data-type='store'>
          <div class="head-filter">
            <p>Store</p>
            <div class="icon">
              <img src="/assets/next" alt="" srcset="">
              <img src="/assets/next_active" alt="" srcset="">
            </div>
          </div>
          <div class="list-sub-filters mt-1">
            <p data-value='none' data-default='Store'>None</p>
            <p>Price ascending</p>
            <p>Price descending</p>
            <p>Product name ascending</p>
            <p>Product name descending</p>
            <p>Store name ascending</p>
            <p>Store name descending</p>
            <p>Upload date ascending</p>
            <p>Upload date descending</p>
          </div>
        </div>
      </div>
      <div class="price-range">
        <input type="text" class="js-range-slider" name="my_range" value="" />
      </div>
      <div class="star-rating mb-3">
        <p class='mb-2'>Mininum Star Rating</p>
        <div class="stars">
          <div class="star-item" data-value='1'>
            <img src="/assets/star" alt="" srcset="">
            <img src="/assets/star_selected" alt="" srcset="">
          </div>
          <div class="star-item" data-value='2'>
            <img src="/assets/star" alt="" srcset="">
            <img src="/assets/star_selected" alt="" srcset="">
          </div>
          <div class="star-item" data-value='3'>
            <img src="/assets/star" alt="" srcset="">
            <img src="/assets/star_selected" alt="" srcset="">
          </div>
          <div class="star-item" data-value='4'>
            <img src="/assets/star" alt="" srcset="">
            <img src="/assets/star_selected" alt="" srcset="">
          </div>
          <div class="star-item" data-value='5'>
            <img src="/assets/star" alt="" srcset="">
            <img src="/assets/star_selected" alt="" srcset="">
          </div>
        </div>
      </div>
      <div class="actions-dialog">
        <div><span>Cancel</span></div>
        <div><span>Apply</span></div>
      </div>
    </div>
  </div>
</div>

<script>
  var filter_dialog = $('.filter-dialog');
  var filter_sort_by = 'none';
  var filter_category = 'none';
  var filter_brand = 'none';
  var filter_color = 'none';
  var filter_store = 'none';

  $('.filter-search').on('click',function() {
      filter_dialog.addClass('open');
  });
  $('.type-filter').on('click', function() {
    $(this).addClass('open');
  });
  $('.list-sub-filters > p').on('click', function(e) {
    e.stopPropagation();
    $(this).parent().parent().removeClass('open');
    let selectedValue = $(this).data('value');
    const type = $(this).parent().parent().data('type');
    if (selectedValue == 'none') {
      $(this).parent().parent().find('div.head-filter').removeClass('active');
      $(this).parent().parent().find('div.head-filter > p').text($(this).data('default'));
    } else {
      $(this).parent().parent().find('div.head-filter').addClass('active');
      $(this).parent().parent().find('div.head-filter > p').text($(this).text());
    }
    if(selectedValue == 'none') {
      if (type == 'sort_by') {
        filter_sort_by = 'none';
      }
      if (type == 'category') {
        filter_category = 'none';
      }
      if (type == 'brand') {
        filter_brand = 'none';
      }
      if (type == 'color') {
        filter_color = 'none';
      }
      if (type == 'store') {
        filter_store = 'none';
      }
    } else {
      if (type == 'sort_by') {
        filter_sort_by = selectedValue;
      }
      if (type == 'category') {
        filter_category = selectedValue;
      }
      if (type == 'brand') {
        filter_brand = selectedValue;
      }
      if (type == 'color') {
        filter_color = selectedValue;
      }
      if (type == 'store') {
        filter_store = selectedValue;
      }
    }
  });

  $('.actions-dialog > div:first-child').on('click', function() {
    filter_dialog.removeClass('open');
  });
  $('.actions-dialog > div:last-child').on('click', function() {
    filter_dialog.removeClass('open');
    if (filter_sort_by != 'none' || filter_category != 'none' || filter_brand != 'none' || filter_color != 'none' || filter_store != 'none') {
      $('.filter-search').addClass('active');
    } else {
      $('.filter-search').removeClass('active');
    }
  });

  $('.filter-dialog .stars > .star-item').click(function() {
    const num_star = $(this).data('value');
    $.each($('.filter-dialog .stars > .star-item'), function(idx, item) {
      if (idx < num_star) {
        $(item).addClass('active');
      } else {
        $(item).removeClass('active');
      }
    });
  });
</script>