<form method="get" action="/search">

<div class="px-3 mt-3 bg">
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M11.742 10.344C12.7103 9.02269 13.144 7.38449 12.9563 5.75715C12.7686 4.12981 11.9734 2.63334 10.7298 1.56713C9.48613 0.500922 7.88576 -0.0563951 6.24885 0.00667803C4.61194 0.0697512 3.0592 0.748563 1.90128 1.90731C0.743364 3.06605 0.0656633 4.61928 0.00376152 6.25624C-0.0581403 7.89319 0.500322 9.49316 1.56742 10.736C2.63452 11.9789 4.13156 12.7731 5.75903 12.9596C7.38651 13.1461 9.02439 12.7112 10.345 11.742H10.344C10.374 11.782 10.406 11.82 10.442 11.857L14.292 15.707C14.4795 15.8946 14.7339 16.0001 14.9992 16.0002C15.2644 16.0003 15.5189 15.895 15.7065 15.7075C15.8942 15.52 15.9996 15.2656 15.9997 15.0004C15.9998 14.7351 15.8945 14.4806 15.707 14.293L11.857 10.443C11.8213 10.4068 11.7828 10.3734 11.742 10.343V10.344ZM12 6.5C12 7.22227 11.8578 7.93747 11.5814 8.60476C11.3049 9.27205 10.8998 9.87837 10.3891 10.3891C9.87838 10.8998 9.27206 11.3049 8.60477 11.5813C7.93748 11.8577 7.22228 12 6.50001 12C5.77774 12 5.06254 11.8577 4.39525 11.5813C3.72796 11.3049 3.12165 10.8998 2.61093 10.3891C2.1002 9.87837 1.69508 9.27205 1.41868 8.60476C1.14227 7.93747 1.00001 7.22227 1.00001 6.5C1.00001 5.04131 1.57948 3.64236 2.61093 2.61091C3.64238 1.57946 5.04132 1 6.50001 1C7.9587 1 9.35765 1.57946 10.3891 2.61091C11.4206 3.64236 12 5.04131 12 6.5Z"
          fill="#A7A7A7" />
      </svg>
    </span>
    <input type="text" class="form-control" placeholder="Search" style="border-radius: 16px" name="keyword">
    <div class="filter-search">
      <div class="icon">
        <img src="/assets/filter_search" alt="" srcset="">
        <img src="/assets/filter_search_active" alt="" srcset="">
      </div>
    </div>
  </div>
</div>


<div id="myModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body p-0">
        <div class='filter-dialog'>
          <div class='content-filter-dialog'>
            <div class='filter-icon'>
              <div class='inner-filter-icon'>
                <img src="/assets/setting_search" alt="">
              </div>
            </div>

            <div class="content-filter">
              <div class="list-filters">


                <select name="order" class="form-control my-2" id="order" style="border-radius: 10px">
                  <option value="" selected>Sort By</option>
                  <option value="price-asc">Price ascending</option>
                  <option value="price-desc">Price descending</option>
                  <option value="name-asc">Product name ascending</option>
                  <option value="name-desc">Product name descending</option>
                  <option value="audi">Store name ascending</option>
                  <option value="audi">Store name descending</option>
                  <option value="audi">Upload date ascending</option>
                  <option value="audi">Upload date descending</option>
                </select>

                <select name="brand" id="" class="form-control my-2" style="border-radius: 10px">
                  <option value="" selected>Category</option>
                  <% @make_data.each do |make| %>
                    <option value="<%= make %>"><%= make %></option>
                  <% end %>
                </select>

                <select name="color" id="" class="form-control my-2" style="border-radius: 10px">
                  <option value="">Color</option>
                  <% @color_data.each do |color| %>
                    <option value="<%= color %>"><%= color %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="price-range">
              <p>Price range</p>
              <input data-role="doubleslider"
                     data-min="1000"
                     data-max="1000000"
                     data-accuracy="1000"
                     data-hint-mask-min="$1$"
                     data-hint-mask-max="$1$"
                     data-format="money"
                     data-hint-always="true"
                     data-hint-position-min="bottom"
                     data-hint-position-max="bottom"
                     data-show-min-max="false"
                     data-cls-backside="bg-gray"
                     data-cls-marker="bg-green border-50 custom-marker"
                     data-cls-hint="bg-green custom-marker shadow-2"
                     data-cls-complete="bg-green"
                     data-cls-min-max="text-bold">
            </div>
            <div class="d-flex justify-content-center rating">
              <input type="text" id="rating">
            </div>
            <div class="actions-dialog d-flex justify-content-around border-top mt-5">
              <div class="border-right w-50 text-center py-3" ><button data-dismiss="modal" style="border: none; background: none">Cancel</button></div>
              <div class="w-50 text-center py-3"><button type="submit" style="border: none; background: none">Apply</button></div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

</form>


<script>
  var filter_dialog = $('.filter-dialog');
  var filter_sort_by = 'none';
  var filter_category = 'none';
  var filter_brand = 'none';
  var filter_color = 'none';
  var filter_store = 'none';

  $('.filter-search').on('click',function() {
    $('#myModal').modal('show')
  });
  $('.type-filter').on('click', function() {
    $(this).toggleClass('open');
  });

$(document).ready(function (){
  $('#rating').rating();

})
</script>

<style>
  .stars li.on {
    color: #F6C358 !important;
  }
  .stars li{
    padding-left: 5px !important;
  }
</style>